/* implement your custom styles for the bootstrap components here */
.pointer {
    cursor: pointer;
}

[data-toggle="collapse"] .fa:before {  
    content: "\f106";
}
  
  [data-toggle="collapse"].collapsed .fa:before {
    content: "\f107";
}

.card-header {
    background-color: #B1C1D0;
}

.card-header > a {
    color: #293D4F;
    text-decoration: none;
}

.owl-nav {
    display: grid;
}

.prev-slide {
    background: url(../../img/circle-left.png) center center;
    position: absolute;
    width: 50px;
    height: 50px;
    transform: translateY(-50%);
    left: -5%;
    top: 50%;
}

.next-slide {
    background: url(../../img/circle-right.png) center center;
    position: absolute;
    width: 50px;
    height: 50px;
    transform: translateY(-50%);
    right: -5%;
    top: 50%;
}

.prev-slide-bow {
    background: url(../../img/circle-left-bow.png) center center;
    position: absolute;
    width: 50px;
    height: 50px;
    transform: translateY(-50%);
    left: -5%;
    top: 50%;
}

.next-slide-bow {
    background: url(../../img/circle-right-bow.png) center center;
    position: absolute;
    width: 50px;
    height: 50px;
    transform: translateY(-50%);
    right: -5%;
    top: 50%;
}

.storyTxt {
    color: #293D4F;
}

.storyCite {
    height:100px;
}

.btn-story {
    border-color: #65B32E;
    background-color: #fff;
    color: #5b9b1e;
    font-size:0.75rem;
    letter-spacing: .3em;
}

.btn-story:hover {
    border-color: #5b9b1e;
    background-color: #5b9b1e;
    color: #fff;
}

.absCentered {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)    
}
