<cfif args.items.recordcount>
    <cfoutput>
        <cfif len(args.items.title)>
            <p class="ext-textblockTitle">#args.items.title#</p>
        </cfif>
        <p class="ext-textblockContent">#args.items.textContent#</p>
    </cfoutput>
</cfif>